.accordion {
    margin: 150px;
}
.navbar {
    padding: 5px 30px 5px 30px;
}
.map{
    text-align: center;
    align-items: center;
}
/*Mobile RWD*/

@media (max-width: 767px) {

    body{
        text-align: center;
        align-items: center;
    }
    .accordion{
        margin: 70px 0 0 0;
    }
    .navbar {
        padding: 5px 30px 5px 30px;
    }

    .btn-group {
        left: -50%;
    }
}

.info{
    background-color: white;
}
.social-media ul {
    list-style-type: none;
    display: inline;
    display: flex;
    column-gap: 20px;
    padding: 0;
}

.social-media ul li a {
    text-decoration: none;
    color: black;
    font-size: 0;
}

.social-media i {
   font-size: 16px;
}

.info h5 {
   font-weight: 50;
}

.info h2 {
   border-bottom: solid black;
}