/*Global*/
*, *::before, *::after {
    box-sizing: border-box;
}
body {
   
    color: black;
}
.container {
    display: flex;
    margin: 60px;
    text-align: center;
}

.container-box {
    flex: 1;
    position: relative;
    margin: 30px;
    padding: 20px;
}

.words-absolute {
    position: absolute;
    font-size: 40px;
    opacity: 0.5;
    color:aquamarine;
    top: 50%;
    right: 50%;
}

/*Navbar*/

.navbar {
    padding: 5px 30px 5px 30px;
}

/*Gallery*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*PHOTOS*/
.img-1 {background-image: url('../images/lifestyle/pexels-afta-putta-gunawan-1036804.jpg');}
.img-2 {background-image: url('../images/lifestyle/pexels-amine-m\'siouri-2108845.jpg');}
.img-3 {background-image: url('../images/lifestyle/pexels-cameron-casey-1152854.jpg');}
.img-4 {background-image: url('../images/lifestyle/pexels-deepak-gautam-240163.jpg');}
.img-5 {background-image: url('../images/lifestyle/pexels-elina-fairytale-3823086.jpg');}
.img-6 {background-image: url('../images/lifestyle/pexels-jane-doan-2027696.jpg');}
.img-7 {background-image: url('../images/lifestyle/pexels-lil-artsy-1925536.jpg');}
.img-8 {background-image: url('../images/lifestyle/pexels-marek-mucha-2402799.jpg');}
.img-9 {background-image: url('../images/lifestyle/pexels-marta-branco-1295572.jpg');}
.img-10 {background-image: url('../images/lifestyle/pexels-nina-uhlikova-287240.jpg');}
.img-11 {background-image: url('../images/lifestyle/pexels-pixabay-221210.jpg');}
.img-12 {background-image: url('../images/lifestyle/pexels-pixabay-40720.jpg');}

/*CODE*/

h1 {
    font-family: 'Open Sans', 'sans-serif';
}

.element {
    margin: 2px;
    border-radius: 2px;
    background-position: center;
    background-size: cover;
}
.inside-container, .flex-column, .flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.flex-1 {
    flex: 1;
}
.element, .element-big {
    height: 180px;
}

body .element:hover {
    cursor: pointer;
}
.newComment {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.font {
    margin-top: 140px;
    padding: 20px;
    font-style:oblique;
    font-size: 25px;
    bottom: 0%;
}
.coments-search{
    align-items: center;
    text-align: center;
}
.btn{
    margin-top: 20px;
}

.search-form{
    margin: 20px;
}
/*Mobile RWD*/

@media (max-width: 767px) {

    .container {
        width: fit-content;
        align-items: center;
        margin:50px 0 0 0;
        padding: 0;    
    }

    .navbar {
        padding: 5px 30px 5px 30px;
    }

    .btn-group {
        left: -50%;
    }
}

