.oneArt {
    display: none;
    &.active {
        display: inline;
}
}

body{
    padding: 100px 50px 50px 50px;
}

.all-links, .title {
    text-align: center;
}
input{
    width: 30px;
    text-align: center;
}
@media (max-width: 767px) {
    body {

padding:100px 0 0 0;
margin: 100px 0 0 0;
}
}
