/*Global*/

h2 {
    text-align: center;
}


/*Navbar*/

.nav-btn {
    margin-left: 60px;
}

.carousel-inner .carousel-item {
    height: 100vh;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.navbar {
    padding: 5px 30px 5px 30px;
}

/*Cards*/

.card-body {
text-align: center;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.carousel-caption h3 {
    font-size: 50px;
    color: #fff;
}

.carousel-caption {
    Left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.carousel-caption h4 {
    font-size: 30px;
    color: #ccc;
}

.list-group a {
    background: #ccc;
    font-weight: bold;
    text-align: center;
}

.card .card-body .last {
    color: white;
}

 .social-media ul {
     list-style-type: none;
     display: inline;
     display: flex;
     column-gap: 20px;
     padding: 0;
}

.social-media ul li a {
     text-decoration: none;
     color: black;
     font-size: 0;
}

.social-media i {
    font-size: 16px;
}

.info {
    background: #ccc;
}

.info h5 {
    font-weight: 50;
}

.info h2 {
    border-bottom: solid black;
}
footer {
    color: #ccc;
    font-size: 25px;
  
}

footer a {
    text-decoration: none;
   

/*Media Mobile RWD*/

@media (max-width: 767px) {

    .body {
        text-align: center; 
    }

    .card .fa-solid {
        display: none;
    }

    .navbar {
        padding: 5px 30px 5px 30px;
    }

    .btn-group {
        left: -50%;
    }
}





